h1 {
    color: darkblue;
    text-align: center;
}

body {
    color: white;
}

body{
    background-color: black
}

body{
    font: 15px arial, sans-serif;
}

.question{
    font-size: 20px
   }

.thick {
       font-weight: bold;
   }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
